[user]
	name = Tudor Prodan
	email = tudor.prodan@gmail.com

[alias]
    st = "status -sb"
    ci = "commit -v"
    co = "checkout"
    pr = "pull --rebase"
    pp = "!git pull && git push"
    ppr = "!git pull --rebase && git push"
    plog = "log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"

[color]
    ui = auto

[diff]
    tool = "kdiff3"

[difftool "kdiff3"]
    path = "/usr/bin/kdiff3"

[difftool "diffmerge"]
    cmd = "diffmerge $LOCAL $REMOTE"

[core]
	excludesfile = /Users/tudor/.gitignore_global

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
