/*

    Name:       Base16 Ocean Dark
    Author:     Chris Kempson (http://chriskempson.com)

    CodeMirror template adapted for IPython Notebook by Nikhil Sonnad (https://github.com/nsonnad/base16-ipython-notebook)
    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/* Uncomment to use a custom font
div#notebook, div.CodeMirror, div.output_area pre, div.output_wrapper, div.prompt {
  font-family: 'Custom Font Name', monospace !important;
}
*/

/* GLOBALS */
body {background-color: #2b303b;}
a {color: #8fa1b3;}

/* INTRO PAGE */
.toolbar_info, .list_container {color: #dfe1e8;}

/* NOTEBOOK */

/* comment out this line to bring the toolbar back */
/* div#maintoolbar, div#header {display: none !important;} */

div#notebook {border-top: none;}

div.input_prompt {color: #ab7967;}
div.output_prompt {color: #b48ead;}
div.input_area {
  border-radius: 0px;
  border: 1px solid #4f5b66;
}
div.output_area pre {font-weight: normal; color: #c0c5ce;}
div.output_subarea {font-weight: normal; color: #c0c5ce;}

.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
  border: 1px  #c0c5ce solid;
  color: #c0c5ce;
}
div.output_html { font-family: sans-serif; }
table.dataframe tr {border: 1px #c0c5ce;}


div.cell.selected {
    background: linear-gradient(to right, #589186 -40px, #589186 5px, transparent 5px, transparent 100%);
}

.edit_mode div.cell.selected {
    background: linear-gradient(to right, #8A3838 -40px, #8A3838 5px, transparent 5px, transparent 100%);
    border-color: #845e7f;
}

div.text_cell_render, div.output_html {color: #c0c5ce;}

span.ansiblack {color: #343d46;}
span.ansiblue {color: #96b5b4;}
span.ansigray {color: #a7adba;}
span.ansigreen {color: #a3be8c;}
span.ansipurple {color: #b48ead;}
span.ansired {color: #bf616a;}
span.ansiyellow {color: #ebcb8b;}

div.output_stderr {
    /* background-color: #bf616a; */
    background-color: #3B2B2B;
}
div.output_stderr pre {color: #dfe1e8;}

.cm-s-ipython.CodeMirror {background: #2b303b; color: #dfe1e8;}
.cm-s-ipython div.CodeMirror-selected {background: #343d46 !important;}
.cm-s-ipython .CodeMirror-gutters {background: #2b303b; border-right: 0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #65737e;}
.cm-s-ipython .CodeMirror-cursor {border-left: 1px solid #a7adba !important;}

.cm-s-ipython span.cm-comment {color: #ab7967;}
.cm-s-ipython span.cm-atom {color: #b48ead;}
.cm-s-ipython span.cm-number {color: #b48ead;}

.cm-s-ipython span.cm-property, .cm-s-ipython span.cm-attribute {color: #a3be8c;}
.cm-s-ipython span.cm-keyword {color: #bf616a;}
.cm-s-ipython span.cm-string {color: #ebcb8b;}
.cm-s-ipython span.cm-operator {color: #ab7967;}
.cm-s-ipython span.cm-builtin {color: #b48ead;}

.cm-s-ipython span.cm-variable {color: #a3be8c;}
.cm-s-ipython span.cm-variable-2 {color: #8fa1b3;}
.cm-s-ipython span.cm-def {color: #d08770;}
.cm-s-ipython span.cm-error {background: #bf616a; color: #a7adba;}
.cm-s-ipython span.cm-bracket {color: #c0c5ce;}
.cm-s-ipython span.cm-tag {color: #bf616a;}
.cm-s-ipython span.cm-link {color: #b48ead;}

.cm-s-ipython .CodeMirror-matchingbracket { text-decoration: underline; color: #dfe1e8 !important;}

.rendered_html code {background: #2b303b; color: #dfe1e8;}
.rendered_html code .keyword {color: #bf616a;}
.rendered_html code .string {color: #ebcb8b;}
.rendered_html code .number {color: #a3be8c;}

.code_cell div.input_area {background: #2b303b; color: #dfe1e8;}
.code_cell .highlight .o {color: #ab7967;}
.code_cell .highlight .k {color: #bf616a;}
.code_cell .highlight .n {color: #a3be8c;}
.code_cell .highlight .p {color: rgb(223, 225, 232);}
.code_cell .highlight .s {color: #ebcb8b;}
.code_cell .highlight .nn {color: #a3be8c;}
.code_cell .highlight .kn {color: #bf616a;}
.code_cell .highlight .nb {color: #b48ead;}
.code_cell .highlight .mi {color: #b48ead;}
.code_cell .highlight .nf {color: #d08770;}
.code_cell .highlight .c {color: #ab7967;}
.code_cell .highlight .bp {color: #b48ead;}
.code_cell .highlight .ow {color: #ab7967;}


.output_subarea.output_png img {
    background-color: white;
}

div#pager_splitter {
    height: 1px;
    border: none;
    background: black;
}

#notebook-container {
    background-color: #2B303B;
    box-shadow: none;
    -webkit-box-shadow: none;
}

div#notebook {
    background-color: #2B303B;
}

body > #header {
    background-color: #2B303B;
}

.navbar-default {
    background-color: #2B303B;
    border-color: #3A414E;
}

.notebook_app #header {
    box-shadow: none;
}

div#notebook {
    border-top: none;
    font-size: 13px;
}

.CodeMirror {
    font-size: 13px;
}

.header-bar {
    display: none;
}
